{% extends "base.html" %}

{% block content %}
<div class="registration-form">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
           <div class="category_img">
               <h1><center>{{ category }}</center></h1>
           </div>
           <br/>
            <div class="form-group">
                {{ form.product_code.label }}<br/>
                {{ form.product_code (class="form-control item") }}
            </div>
            {% if form.product_code.errors %}
                {% for error in form.product_code.errors %}
                    <div style="color: red;">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                {{ form.type.label }}<br/>
                {{ form.type (class="form-control item") }}
            </div>
            {% if form.type.errors %}
                {% for error in form.type.errors %}
                    <div style="color: red;">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                {{ form.image_file.label }}<br/>
                {{ form.image_file (class="form-group item")}}
            </div>
            {% if form.image_file.errors %}
                {% for error in form.image_file.errors %}
                    <div style="color: red;">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                {{ form.product_detail.label }}<br/>
                {{ form.product_detail (class="form-label item") }}
            </div>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info')}}
            </div>
        </form>
    </div>
{% endblock %}